.container{
    width: 100%;
    height: calc(100vh);
    background-image: url("../public/imgs/MentalHealth.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}